<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Study Group - Admin User </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="CSS/adminUser.css">
    <link rel="stylesheet" href="icomoon\style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <%- include('partials/navbar') %>
        <div class="container">
            <%- include('partials/sidenav') %>
                <div class="content">
                    <header>
                        <form action="/admin-user-search" method="get">
                            <div class="searchBarContainer">
                                <input type="text" placeholder="Search Users Here" name="q">
                                <button type="submit">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </div>
                        </form>
                        
                        <button>
                            <a href="/admin-add-new-user">
                                <span>
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </span>
                                Add User
                            </a>
                        </button>
                    </header>
                    <div class="mainContainer">
                        <% user.forEach((info)=>{ %>
                            <div class="mail" id="thisIsUnique2">
                                <div class="mailWrapper">
                                    <img src="<%=info.profilepic%>" alt="image">
                                    <a href="/admin-user/<%=info._id%>/detail">
                                        <span>
                                            <%=info.firstname%>&nbsp;<%=info.lastname%>
                                        </span>
                                    </a>
                                </div>
                                <a href="/admin-user/<%=info._id%>/edit-user-detail">
                                    <i class="fas fa-pen"></i>
                                </a>
                                <!-- <i class="fa fa-trash-o" onclick="handleDelete(this.parentElement.id)" aria-hidden="true"></i> -->
                            </div>
                            <% }) %>
                    </div>
                </div>
                <script>
                    //sidenav click
                    const sideBar = document.querySelector('.sideNav');

                    //Hamburger
                    const nav = document.querySelector('.navbar');
                    nav.addEventListener('click', () => {
                        nav.classList.toggle('active');
                        sideBar.classList.toggle('sideRes');
                    })
                </script>
</body>

</html>